DEBUG="True"
SECRET_KEY="your_secret_key"
ALGORITHM="your_algorithm"
ACCESS_TOKEN_EXPIRE_MINUTES="your_number"
REFRESH_TOKEN_EXPIRE_DAYS="your_number"
DB_USER="your_db_user"
DB_PASSWORD="your_db_password"
DB_HOST="your_host"
DB_PORT="your_port"
DB_NAME="your_db_name"
LOG_LEVEL="DEBUG"
LOG_FILE="your_log_path"
CONSOLE_LOG="True"
SMTP_USER= "your_verification_email"
SMTP_PASSWORD= "your_password_for_smpt_user"
FRONTEND_URL= "your_frontend_urk"
EMAIL_VERIFICATION_EXPIRE_HOURS= "24"
SMTP_HOST= "smtp.mail.ru"
SMTP_PORT= "587" 
SMTP_USE_TLS= "True"